name: Docker CI/CD Pipeline

on:
  push:
    branches: [ "main" ]
  workflow_dispatch:

jobs:
  build-and-push:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout Code
        uses: actions/checkout@v3

      - name: Set up JDK 17
        uses: actions/setup-java@v3
        with:
          java-version: '17'
          distribution: 'temurin'
          cache: maven

      # app buld -> jar
      - name: Build with Maven
        run: mvn clean package -DskipTests

      # Docker Hub login
      - name: Login to Docker Hub
        uses: docker/login-action@v2
        with:
          username: ${{ secrets.DOCKERHUB_USERNAME }}
          password: ${{ secrets.DOCKERHUB_TOKEN }}

      # Docker image -> docker hub
      - name: Build and push Docker image
        uses: docker/build-push-action@v4
        with:
          context: .
          push: true
          # 'uygulama-adin' kısmını Docker Hub'da ne isim vermek istiyorsan öyle yap
          tags: ${{ secrets.DOCKERHUB_USERNAME }}/clash-ai:latest

  deploy:
    needs: build-and-push
    runs-on: ubuntu-latest
    steps:
      - name: Deploy to Ubuntu Server via SSH
        uses: appleboy/ssh-action@master
        with:
          host: ${{ secrets.HOST }}
          username: ${{ secrets.USER }}
          key: ${{ secrets.SSH_PRIVATE_KEY }}

          script: |
            docker pull ${{ secrets.DOCKERHUB_USERNAME }}/clash-ai:latest
            
           
            docker stop clash-app || true
            docker rm clash-app || true
            
            
            docker run -d \
              --name clash-app \
              -p 8080:8080 \
              --restart always \
              -e CLASH_API_KEY="${{ secrets.CLASH_API_KEY }}" \
              -e OPENROUTER_API_KEY="${{ secrets.OPENROUTER_API_KEY }}" \
              ${{ secrets.DOCKERHUB_USERNAME }}/clash-ai:latest